In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
movies = pd.read_csv('Movie+Assignment+Data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [11]:
print(movies.head)
print(movies.info)
print(movies.dtypes)
print(movies.shape)
print(movies.columns)

<bound method NDFrame.head of       color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN      NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
5038  ...                  6.0  English   Canada             NaN          NaN
5039  ...                359.0  English      USA           TV-14          NaN
5040  ...                  3.0  English      USA             NaN       1400.0
5041  ...                  9.0  English      USA           PG-13          NaN
5042  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]>
<bound method DataFrame.info of       color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN      NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
5038  ...                  6.0  English   Canada             NaN          NaN
5039  ...                359.0  English      USA           TV-14          NaN
5040  ...                  3.0  English      USA             NaN       1400.0
5041  ...                  9.0  English      USA           PG-13          NaN
5042  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]>
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object
(5043, 28)
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [12]:
null = movies.isnull().sum()
print("No. of Null Values")
print(null)

No. of Null Values
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [13]:
nullR = movies.isnull().sum(axis=1)
print("No. of null values")
print(nullR)

No. of null values
0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [16]:
trows = movies.shape[0]
null_per = (null / trows) * 100
null_per = null_per.round(2)  # Round off to two decimal places
print("Percentage of Null Values Column:")
print(null_per)

Percentage of Null Values Column:
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [38]:
columns_to_drop = [
    "color",
    "director_facebook_likes",
    "actor_1_facebook_likes",
    "actor_2_facebook_likes",
    "actor_3_facebook_likes",
    "actor_2_name",
    "cast_total_facebook_likes",
    "actor_3_name",
    "duration",
    "facenumber_in_poster",
    "content_rating",
    "country",
    "movie_imdb_link",
    "aspect_ratio",
    "plot_keywords"
]

# Drop the specified columns
movies = movies.drop(columns=columns_to_drop)

# Display the updated DataFrame
print(movies.head())

KeyError: "['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'] not found in axis"

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [22]:
null = movies.isnull().sum()
trows = movies.shape[0]
null_per = (null / trows) * 100
high_null = null_per[null_per > 5].index
movies = movies.dropna(subset=high_null)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [32]:
nan_counts_per_row = movies.isnull().sum(axis=1)

rows_to_drop = nan_counts_per_row[nan_counts_per_row > 5].index

movies = movies.drop(rows_to_drop)

movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,7.605058e-16,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-16,2009.0,7.9,33000
1,Gore Verbinski,302.0,3.094042e-16,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3.000000e-16,2007.0,7.1,0
2,Sam Mendes,602.0,2.000742e-16,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2.450000e-16,2015.0,6.8,85000
3,Christopher Nolan,813.0,4.481306e-16,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2.500000e-16,2012.0,8.5,164000
5,Andrew Stanton,462.0,7.305868e-17,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2.637000e-16,2012.0,6.6,24000

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [31]:
movies['language'].fillna('English', inplace=True)

movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,7.605058e-16,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-16,2009.0,7.9,33000
1,Gore Verbinski,302.0,3.094042e-16,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3.000000e-16,2007.0,7.1,0
2,Sam Mendes,602.0,2.000742e-16,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2.450000e-16,2015.0,6.8,85000
3,Christopher Nolan,813.0,4.481306e-16,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2.500000e-16,2012.0,8.5,164000
5,Andrew Stanton,462.0,7.305868e-17,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2.637000e-16,2012.0,6.6,24000

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [26]:
total_rows_before = movies.shape[0]
total_rows_after = movies.shape[0]
percentage_retained = (total_rows_after / total_rows_before) * 100

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [30]:
movies['budget'] = movies['budget'] / 1000000 
movies['gross'] = movies['gross'] / 1000000   

movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,7.605058e-16,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-16,2009.0,7.9,33000
1,Gore Verbinski,302.0,3.094042e-16,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3.000000e-16,2007.0,7.1,0
2,Sam Mendes,602.0,2.000742e-16,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2.450000e-16,2015.0,6.8,85000
3,Christopher Nolan,813.0,4.481306e-16,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2.500000e-16,2012.0,8.5,164000
5,Andrew Stanton,462.0,7.305868e-17,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2.637000e-16,2012.0,6.6,24000

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [53]:

movies['profit'] = movies['gross'] - movies['budget']

In [54]:
movies_sorted = movies.sort_values(by='profit', ascending=False)

In [56]:
top10 = movies_sorted.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7.605058e-34,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-34,2009.0,7.9,33000,5.235058e-34
29,Colin Trevorrow,644.0,6.521773e-34,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1.500000e-34,2015.0,7.0,150000,5.021773e-34
26,James Cameron,315.0,6.586723e-34,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2.000000e-34,1997.0,7.7,26000,4.586723e-34
3024,George Lucas,282.0,4.609357e-34,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1.100000e-35,1977.0,8.7,33000,4.499357e-34
3080,Steven Spielberg,215.0,4.349495e-34,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1.050000e-35,1982.0,7.9,34000,4.244495e-34
794,Joss Whedon,703.0,6.232795e-34,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2.200000e-34,2012.0,8.1,123000,4.032795e-34
17,Joss Whedon,703.0,6.232795e-34,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2.200000e-34,2012.0,8.1,123000,4.032795e-34
509,Roger Allers,186.0,4.227838e-34,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,4.500000e-35,1994.0,8.5,17000,3.777838e-34
240,George Lucas,320.0,4.745447e-34,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1.150000e-34,1999.0,6.5,13000,3.595447e-34
66,Christopher Nolan,645.0,5.333161e-34,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1.850000e-34,2008.0,9.0,37000,3.483161e-34

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [57]:
movies_no_duplicates = movies.drop_duplicates()

In [61]:

movies_no_duplicates['profit'] = movies_no_duplicates['gross'] - movies_no_duplicates['budget']

movies_sorted_no_duplicates = movies_no_duplicates.sort_values(by='profit', ascending=False)

top10_no_duplicates = movies_sorted_no_duplicates.head(10)

print(top10_no_duplicates)

          director_name  num_critic_for_reviews         gross  \
0         James Cameron                   723.0  7.605058e-34
29      Colin Trevorrow                   644.0  6.521773e-34
26        James Cameron                   315.0  6.586723e-34
3024       George Lucas                   282.0  4.609357e-34
3080   Steven Spielberg                   215.0  4.349495e-34
17          Joss Whedon                   703.0  6.232795e-34
509        Roger Allers                   186.0  4.227838e-34
240        George Lucas                   320.0  4.745447e-34
66    Christopher Nolan                   645.0  5.333161e-34
439           Gary Ross                   673.0  4.079993e-34

                                        genres         actor_1_name  \
0              Action|Adventure|Fantasy|Sci-Fi          CCH Pounder
29            Action|Adventure|Sci-Fi|Thriller  Bryce Dallas Howard
26                               Drama|Romance    Leonardo DiCaprio
3024           Action|Adventure|Fantasy|Sci-Fi        Harrison Ford
3080                             Family|Sci-Fi         Henry Thomas
17                     Action|Adventure|Sci-Fi      Chris Hemsworth
509   Adventure|Animation|Drama|Family|Musical    Matthew Broderick
240            Action|Adventure|Fantasy|Sci-Fi      Natalie Portman
66                 Action|Crime|Drama|Thriller       Christian Bale
439            Adventure|Drama|Sci-Fi|Thriller    Jennifer Lawrence

                                     movie_title  num_voted_users  \
0                                        Avatar            886204
29                               Jurassic World            418214
26                                      Titanic            793059
3024         Star Wars: Episode IV - A New Hope            911097
3080                 E.T. the Extra-Terrestrial            281842
17                                 The Avengers            995415
509                               The Lion King            644348
240   Star Wars: Episode I - The Phantom Menace            534658
66                              The Dark Knight           1676169
439                            The Hunger Games            701607

      num_user_for_reviews language        budget  title_year  imdb_score  \
0                   3054.0  English  2.370000e-34      2009.0         7.9
29                  1290.0  English  1.500000e-34      2015.0         7.0
26                  2528.0  English  2.000000e-34      1997.0         7.7
3024                1470.0  English  1.100000e-35      1977.0         8.7
3080                 515.0  English  1.050000e-35      1982.0         7.9
17                  1722.0  English  2.200000e-34      2012.0         8.1
509                  656.0  English  4.500000e-35      1994.0         8.5
240                 3597.0  English  1.150000e-34      1999.0         6.5
66                  4667.0  English  1.850000e-34      2008.0         9.0
439                 1959.0  English  7.800000e-35      2012.0         7.3

      movie_facebook_likes        profit
0                    33000  5.235058e-34
29                  150000  5.021773e-34
26                   26000  4.586723e-34
3024                 33000  4.499357e-34
3080                 34000  4.244495e-34
17                  123000  4.032795e-34
509                  17000  3.777838e-34
240                  13000  3.595447e-34
66                   37000  3.483161e-34
439                 140000  3.299993e-34

/var/folders/0h/_k5bxjtd4v3980dy7f8ppswm0000gn/T/ipykernel_1433/4209096790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_no_duplicates['profit'] = movies_no_duplicates['gross'] - movies_no_duplicates['budget']

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [64]:
imdb_top_250 = movies[(movies['imdb_score'] > 8) & (movies['num_voted_users'] > 25000)]

imdb_top_250 = imdb_top_250.sort_values(by='imdb_score', ascending=False)

imdb_top_250['Rank'] = imdb_top_250['imdb_score'].rank(ascending=False, method='first')

imdb_top_250.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,Rank
1937,Frank Darabont,199.0,2.834147e-35,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,2.500000e-35,1994.0,9.3,108000,3.341469e-36,1.0
3466,Francis Ford Coppola,208.0,1.348220e-34,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.000000e-36,1972.0,9.2,43000,1.288220e-34,2.0
66,Christopher Nolan,645.0,5.333161e-34,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1.850000e-34,2008.0,9.0,37000,3.483161e-34,3.0
2837,Francis Ford Coppola,149.0,5.730000e-35,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,1.300000e-35,1974.0,9.0,14000,4.430000e-35,4.0
3355,Quentin Tarantino,215.0,1.079300e-34,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,8.000000e-36,1994.0,8.9,45000,9.993000e-35,5.0

In [66]:
Top_Foreign_Lang_Film = imdb_top_250[imdb_top_250['language'] != 'English']
Top_Foreign_Lang_Film

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,Rank
4498,Sergio Leone,181.0,6.100000e-36,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.200000e-36,1966.0,8.9,20000,4.900000e-36,6.0
4029,Fernando Meirelles,214.0,7.563397e-36,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.300000e-36,2002.0,8.7,28000,4.263397e-36,18.0
4747,Akira Kurosawa,153.0,2.690610e-37,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.000000e-36,1954.0,8.7,11000,-1.730939e-36,19.0
2373,Hayao Miyazaki,246.0,1.004989e-35,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,1.900000e-35,2001.0,8.6,28000,-8.950114e-36,25.0
4259,Florian Henckel von Donnersmarck,215.0,1.128466e-35,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.000000e-36,2006.0,8.5,39000,9.284657e-36,37.0
4921,Majid Majidi,46.0,9.254020e-37,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,1.800000e-37,1997.0,8.5,0,7.454020e-37,40.0
2970,Wolfgang Petersen,96.0,1.143313e-35,Adventure|Drama|Thriller|War,Jürgen Prochnow,Das Boot,168203,426.0,German,1.400000e-35,1981.0,8.4,11000,-2.566866e-36,50.0
4105,Chan-wook Park,305.0,2.181290e-36,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.000000e-36,2003.0,8.4,43000,-8.187100e-37,53.0
2323,Hayao Miyazaki,174.0,2.298191e-36,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e-33,1997.0,8.4,11000,-2.397702e-33,54.0
1329,S.S. Rajamouli,44.0,6.498000e-36,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,1.802615e-35,2015.0,8.4,21000,-1.152815e-35,55.0
1298,Jean-Pierre Jeunet,242.0,3.320166e-35,Comedy|Romance,Mathieu Kassovitz,Amélie,534262,1314.0,French,7.700000e-35,2001.0,8.4,39000,-4.379834e-35,56.0
4659,Asghar Farhadi,354.0,7.098492e-36,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,5.000000e-37,2011.0,8.4,48000,6.598492e-36,60.0
2829,Oliver Hirschbiegel,192.0,5.501940e-36,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,1.350000e-35,2004.0,8.3,14000,-7.998060e-36,65.0
2734,Fritz Lang,260.0,2.643500e-38,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.000000e-36,1927.0,8.3,12000,-5.973565e-36,73.0
4033,Thomas Vinterberg,349.0,6.109680e-37,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.800000e-36,2012.0,8.3,60000,-3.189032e-36,83.0
3550,Denis Villeneuve,226.0,6.857096e-36,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.800000e-36,2010.0,8.2,37000,5.709600e-38,87.0
4000,Juan José Campanella,262.0,2.016742e-35,Drama|Mystery|Thriller,Ricardo Darín,The Secret in Their Eyes,131831,231.0,Spanish,2.000000e-36,2009.0,8.2,33000,1.816742e-35,90.0
2047,Hayao Miyazaki,212.0,4.710455e-36,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,2.400000e-35,2004.0,8.2,13000,-1.928955e-35,99.0
2551,Guillermo del Toro,406.0,3.762314e-35,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,1.350000e-35,2006.0,8.2,27000,2.412314e-35,107.0
4267,Alejandro G. Iñárritu,157.0,5.383834e-36,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.000000e-36,2000.0,8.1,11000,3.383834e-36,119.0
4461,Thomas Vinterberg,98.0,1.647780e-36,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.300000e-36,1998.0,8.1,5000,3.477800e-37,122.0
2830,Alejandro Amenábar,157.0,2.086345e-36,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,1.000000e-35,2004.0,8.1,0,-7.913655e-36,135.0
2914,Je-kyu Kang,86.0,1.110186e-36,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,1.280000e-35,2004.0,8.1,0,-1.168981e-35,136.0
3423,Katsuhiro Ôtomo,150.0,4.391620e-37,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1.100000e-33,1988.0,8.1,0,-1.099561e-33,145.0
3553,José Padilha,142.0,8.060000e-39,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.000000e-36,2007.0,8.1,11000,-3.991940e-36,147.0

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [68]:
director_grouped = movies_no_duplicates.groupby('director_name')

mean_imdb_scores = director_grouped['imdb_score'].mean()

top10director = mean_imdb_scores.sort_values(ascending=False).head(10).reset_index()

top10director

           director_name  imdb_score
0        Charles Chaplin    8.600000
1              Tony Kaye    8.600000
2       Alfred Hitchcock    8.500000
3             Ron Fricke    8.500000
4        Damien Chazelle    8.500000
5           Majid Majidi    8.500000
6           Sergio Leone    8.433333
7      Christopher Nolan    8.425000
8         S.S. Rajamouli    8.400000
9  Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [69]:
movies[['genre_1', 'genre_2']] = movies['genres'].str.split('|', n=1, expand=True)
movies['genre_2'].fillna(movies['genre_1'], inplace=True)

In [70]:
movies_by_segment = movies.groupby(['genre_1', 'genre_2'])

In [75]:
mean_gross_by_genre = movies_by_segment['gross'].mean()

PopGenre = mean_gross_by_genre.sort_values(ascending=False).head(5).reset_index()
PopGenre

     genre_1                                genre_2         gross
0     Family                                 Sci-Fi  4.349495e-34
1  Adventure         Animation|Drama|Family|Musical  4.227838e-34
2  Adventure  Animation|Comedy|Drama|Family|Fantasy  3.564544e-34
3     Action   Biography|Drama|History|Thriller|War  3.501236e-34
4     Action               Adventure|Fantasy|Sci-Fi  2.966848e-34

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [77]:

Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']

In [81]:
Leo_Caprio = movies[movies['actor_1_name'] == 'Leonardo DiCaprio']

In [82]:
Brad_Pitt = movies[movies['actor_1_name'] == 'Brad Pitt']

In [83]:
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

In [84]:
actor_grouped = Combined.groupby('actor_1_name')

In [87]:
mean_reviews = actor_grouped[['num_critic_for_reviews', 'num_user_for_reviews']].mean()
highest_mean_actors = mean_reviews.sort_values(by=['num_critic_for_reviews', 'num_user_for_reviews'], ascending=False)
highest_mean_actors

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Leonardo DiCaprio              330.190476            914.476190
Brad Pitt                      245.000000            742.352941
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!